<div class="app-container">
    <div class="row content-container">
        <ol class="breadcrumb navbar-breadcrumb" style="padding-left: 100px;color: white;">
            <li>配置管理</li>
            <li class="active" style="color: white">CU与SMMS参数</li>
        </ol>
        <div class="container-fluid">
            <div class="side-body" style="padding-top: 0">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-body" style="padding-top: 0">
                                <p class="sub-title" style="margin-top: -15px;font-size: 16px;font-weight: 500;color: white">SMMS服务接口地址配置</p>
                                <form class="form-inline" style="color: white;margin-left:10px;">
                                    <div class="form-group" style="margin-bottom: 10px">
                                        <label style="width: 175px;text-align: right">SMMS的webservice接口地址：</label>
                                        <input type="text" value="{$data.webservice_addr}" class="form-control input-sm" id="webservice_addr" placeholder="请填写SMMS的webservice接口地址" style="width: 240px">
                                    </div>
                                </form>
                                <p class="sub-title" style="color: white;font-size: 16px;font-weight: 500;">SMMS服务接口认证信息配置</p>
                                <form class="form-inline" style="margin-left: 10px;color: white">
                                    <div class="form-group" style="margin-bottom: 10px">
                                        <label style="width: 175px;text-align: right">用户口令：</label>
                                        <input type="text" class="form-control input-sm" id="user_passwd" value="{$data.user_passwd}" placeholder="请输入用户口令" style="width: 240px">
                                    </div><br>
                                    <div class="form-group" style="margin-bottom: 10px">
                                        <label style="width: 175px;text-align: right">消息认证密钥：</label>
                                        <input type="text" value="{$data.authentication_key}" class="form-control input-sm" id="authentication_key" placeholder="请填写消息认证密钥" style="width: 240px">
                                    </div><br>
                                    <div class="form-group" style="margin-bottom: 10px">
                                        <label style="width: 175px;text-align: right">加密方式：</label>
                                        <div class="form-group" id="is_encrypt">
                                            <div class="radio3 radio-check radio-success radio-inline">
                                                <input type="radio" id="radio1" name="radio7" value="0" <if condition="$data['is_encrypt'] eq 0"> checked="" </if>>
                                                <label for="radio1">不加密</label>
                                            </div>
                                            <div class="radio3 radio-check radio-warning radio-inline" style="margin-left: 2px">
                                                <input type="radio" id="radio2" name="radio7" value="1" <if condition="$data['is_encrypt'] eq 1">checked=""</if>>
                                                <label for="radio2">加密</label>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group" style="margin-bottom: 10px">
                                        <label style="width: 175px;text-align: right">加密密钥：</label>
                                        <input type="text" value="{$data.aes_key}" class="form-control input-sm" id="aes_key" placeholder="请填写密密钥" style="width: 240px">
                                    </div><br>
                                    <!--<div class="form-group" style="margin-bottom: 10px">-->
                                        <!--<label style="width: 175px;text-align: right">加密算法模式：</label>-->
                                        <!--&lt;!&ndash;<select name="is_encrypt" id="aes_method" style="width: 240px">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<option value="">————请选择————</option>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<option value="0">CBC</option>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<option value="1">PKCS7adding补码</option>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</select>&ndash;&gt;-->
                                        <!--<div class="form-group" id="aes_method">-->
                                            <!--<div class="radio3 radio-check radio-success radio-inline">-->
                                                <!--<input type="radio" id="radio7" name="radio2" value="0">-->
                                                <!--<label for="radio7">CBC</label>-->
                                            <!--</div>-->
                                            <!--<div class="radio3 radio-check radio-warning radio-inline" style="margin-left: 13px">-->
                                                <!--<input type="radio" id="radio8" name="radio2" value="1">-->
                                                <!--<label for="radio8">PKCS7adding补码</label>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<br>-->
                                    <div class="form-group" style="margin-bottom: 10px">
                                        <label style="width: 175px;text-align: right">密钥偏移量：</label>
                                        <input type="text" value="{$data.aes_offset}" class="form-control input-sm" id="aes_offset" placeholder="请填写密钥偏移量" style="width: 240px">
                                    </div><br>
                                    <div class="form-group" style="margin-bottom:10px">
                                        <label style="width: 175px;text-align: right">HASH方式：</label>
                                        <div class="form-group" id="hash_method">
                                            <div class="radio3 radio-check radio-inline">
                                                <input type="radio" id="radio4" name="radio2" value="0" <if condition="$data['hash_method'] eq 0"> checked="" </if>>
                                                <label for="radio4">
                                                    无hash
                                                </label>
                                            </div>
                                            <div class="radio3 radio-check radio-success radio-inline">
                                                <input type="radio" id="radio5" name="radio2" value="1" <if condition="$data['hash_method'] eq 1"> checked="" </if>>
                                                <label for="radio5">
                                                    MD5
                                                </label>
                                            </div>
                                            <div class="radio3 radio-check radio-warning radio-inline">
                                                <input type="radio" id="radio6" name="radio2" value="2" <if condition="$data['hash_method'] eq 2"> checked="" </if>>
                                                <label for="radio6">
                                                    SHA-1
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group" style="margin-bottom: 10px">
                                        <label style="width: 175px;text-align: right">压缩方式：</label>
                                        <div class="form-group" id="is_zip">
                                            <div class="radio3 radio-check radio-success radio-inline">
                                                <input type="radio" id="radio9" name="radio6" value="0" <if condition="$data['is_zip'] eq 0"> checked="" </if>>
                                                <label for="radio9">无压缩</label>
                                            </div>
                                            <div class="radio3 radio-check radio-warning radio-inline" style="margin-left: 2px">
                                                <input type="radio" id="radio10" name="radio6" value="1" <if condition="$data['is_zip'] eq 1"> checked="" </if>>
                                                <label for="radio10">Zip压缩格式</label>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group" style="margin-bottom: 10px">
                                        <label style="width: 175px;text-align: right">接口版本方法：</label>
                                        <input type="text" value="{$data.version}" class="form-control input-sm" id="version" placeholder="请填写接口版本方法" style="width: 240px">
                                    </div><br>
                                    <div class="form-group" style="margin-bottom: 10px">
                                        <label style="width: 175px;text-align: right">SMMS提供上报的ftp地址：</label>
                                        <input type="text" value="{$data.ftp_ip}" class="form-control input-sm" id="ftp_ip" placeholder="请填写SMMS提供上报的ftp地址" style="width: 240px">
                                    </div>
                                    <br>
                                    <div class="form-group" style="margin-bottom: 10px">
                                        <label style="width: 175px;text-align: right">SMMS的ftp服务端口：</label>
                                        <input type="text" value="{$data.ftp_port}" class="form-control input-sm" id="ftp_port" placeholder="请填写SMMS的ftp服务端口" style="width: 240px">
                                    </div>
                                    <br>
                                    <div class="form-group" style="margin-bottom: 10px">
                                        <label style="width: 175px;text-align: right">SMMS的ftp上报路径：</label>
                                        <input type="text" value="{$data.ftp_path}" class="form-control input-sm" id="ftp_path" placeholder="请填写SMMS的ftp上报路径" style="width: 240px">
                                    </div>
                                    <br>
                                    <div class="form-group" style="margin-bottom: 10px">
                                        <label style="width: 175px;text-align: right">SMMS的ftp用户名：</label>
                                        <input type="text" value="{$data.ftp_user}" class="form-control input-sm" id="ftp_user" placeholder="请填写SMMS的ftp用户名" style="width: 240px">
                                    </div>
                                    <br>
                                    <div class="form-group" style="margin-bottom: 10px">
                                        <label style="width: 175px;text-align: right">SMMS的ftp密码：</label>
                                        <input type="text" value="{$data.ftp_passwd}" class="form-control input-sm" id="ftp_passwd" placeholder="请填写SMMS的ftp密码" style="width: 240px">
                                    </div>
                                </form>
                                {:authcheck('Home/Interface/smms_addoredit','
                                <button class="btn btn-info" style="margin-left: 188px" id="smms_btn">保存</button>
                                ','')}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#smms_btn").click(function () {
        var data = {};
        data.id = "<?=$data['id']?>"
        data.webservice_addr=$("#webservice_addr").val();
        data.user_passwd=$("#user_passwd").val();
        data.authentication_key=$("#authentication_key").val();
        data.is_encrypt = $("#is_encrypt input[type='radio']:checked").val();
        data.aes_key=$("#aes_key").val();
        data.aes_offset=$("#aes_offset").val();
        data.hash_method= $("#hash_method input[type='radio']:checked").val();
        data.is_zip= $("#is_zip input[type='radio']:checked").val();
        data.version=$("#version").val();
        data.ftp_ip=$("#ftp_ip").val();
        data.ftp_port=$("#ftp_port").val();
        data.ftp_path=$("#ftp_path").val();
        data.ftp_user=$("#ftp_user").val();
        data.ftp_passwd=$("#ftp_passwd").val();

       // console.log(data);
        $.ajax({
            type: "get",
            url: "__URL__/smms_addoredit",
            data:data,
            dataType:'json',
            success:function (data) {
                if(data.status == 'success'){
                    alert('保存成功');
                }else{
                    alert(data.info);
                }
            }
        })
    })

</script>
